<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
    <style>
        body {
            background: url("{% static 'members/backendBackground.png' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>EAGLE EXCHANGE CONTROL PAGE</h1>
        <p>Welcome to the control panel. Use the buttons below to navigate.</p>

        <div class="button-container">
            <a href="{% url 'admin:index' %}" class="btn">Admin Panel</a>
            <a href="{% url 'user' %}" class="btn">User Management</a>
            <a href="{% url 'transaction' %}" class="btn">Transaction History</a>
        </div>
        
        <div class="button-container">
            <a href="{% url 'ride' %}" class="btn">Ride Management</a>
            <a href="{% url 'message' %}" class="btn">Message Management</a>
            <a href="{% url 'listing' %}" class="btn">Listing History</a>
        </div>
    </div>
</body>

</html>