.venv
cs370/db.sqlite3

db.sqlite3

**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

*.pyc
*.pyo
*.pyd
__pycache__/

.env
venv/
.envrc
.DS_Store

logs/
*.log

.vscode/
.idea/
*.swp
*.swo


staticfiles/
media/

node_modules/

htmlcov/
.coverage
